[package]
name = "storage"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
stdlib = { workspace = true }
hex = { version = "0.4", default-features = false, features = ["alloc"] }

[lib]
crate-type = ["cdylib"]
